<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>PooK</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Main</display-name>
    <servlet-name>Main</servlet-name>
    <servlet-class>com.pook.main.Main</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Main</servlet-name>
    <url-pattern>/Main</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.pook.login.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.pook.login.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CommunityList</display-name>
    <servlet-name>CommunityList</servlet-name>
    <servlet-class>com.pook.community.CommunityList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommunityList</servlet-name>
    <url-pattern>/CommunityList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CommunityWrite</display-name>
    <servlet-name>CommunityWrite</servlet-name>
    <servlet-class>com.pook.community.CommunityWrite</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommunityWrite</servlet-name>
    <url-pattern>/CommunityWrite</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InfoList</display-name>
    <servlet-name>InfoList</servlet-name>
    <servlet-class>com.pook.info.InfoList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InfoList</servlet-name>
    <url-pattern>/InfoList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InfoWrite</display-name>
    <servlet-name>InfoWrite</servlet-name>
    <servlet-class>com.pook.info.InfoWrite</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InfoWrite</servlet-name>
    <url-pattern>/InfoWrite</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReviewList</display-name>
    <servlet-name>ReviewList</servlet-name>
    <servlet-class>com.pook.review.ReviewList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReviewList</servlet-name>
    <url-pattern>/ReviewList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReviewWrite</display-name>
    <servlet-name>ReviewWrite</servlet-name>
    <servlet-class>com.pook.review.ReviewWrite</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReviewWrite</servlet-name>
    <url-pattern>/ReviewWrite</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Map</display-name>
    <servlet-name>Map</servlet-name>
    <servlet-class>com.pook.map.Map</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Map</servlet-name>
    <url-pattern>/Map</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Qna</display-name>
    <servlet-name>Qna</servlet-name>
    <servlet-class>com.pook.qna.Qna</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Qna</servlet-name>
    <url-pattern>/Qna</url-pattern>
  </servlet-mapping>
</web-app>